<div class="example-container container-general centrado">
<h1 style="font-family: calibri;font-size: 40px">
  ¡Welcome to Task Manager!
</h1>

<p class="centrado">
  <img
    src="https://static.vecteezy.com/system/resources/previews/002/531/083/non_2x/task-list-illustration-vector.jpg"
    style="height: 280px; width:400px"
  />
</p>

<form class="example-form centrado">
  <mat-form-field
    class="example-full-width"
    appearance="fill"
    style="width:450px; height: 50px;"
  >
    <mat-label>Username</mat-label>
    <input matInput placeholder="Enter your username" value="" />
  </mat-form-field>
  <br />
  <mat-form-field
    class="example-full-width"
    appearance="fill"
    style="width:450px; height: 50px;"
  >
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter your password" value="" />
  </mat-form-field>
</form>

<br />
<div class="example-header">
  <button
    (click)="Auth()"
    mat-button
    mat-raised-button
    color="primary"
    style="font-family: calibri; font-size: 20px; align: center; width:150px; height: 50px;"
  >
    Enter
  </button>
</div>
</div>
