p {
  font-family: Lato;
}

.content {
  width: 70%;
  text-align: center;
}
.container-general {
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}

.centrado {
  text-align: center;
}
