<div class="example-container container-general centrado">
  <h1 style="font-family: calibri;font-size: 40px">
    ¡Welcome to Task Manager!
  </h1>

  <p class="centrado">
    <img
      src="https://static.vecteezy.com/system/resources/previews/002/531/083/non_2x/task-list-illustration-vector.jpg"
      style="height: 280px; width:400px"
    />
  </p>

  <br />
  <div class="example-header">
    <button
      (click)="Login()"
      mat-button
      mat-raised-button
      color="primary"
      style="font-family: calibri; font-size: 15px; align: center; width:250px; height: 50px;"
    >
      I already have account, Login!
    </button>
    <br />
    <br />
    <button
      (click)="Register()"
      mat-button
      mat-raised-button
      color="primary"
      style="font-family: calibri; font-size: 15px; align: center; width:250px; height: 50px;"
    >
      I'm new here, I want to register!
    </button>
  </div>
</div>
