<div class="example-container container-general ">
  <h1 style="font-family: calibri;font-size: 40px">Tareas Pendientes.</h1>
  <div class="example-header">
    <button
      (click)="openDialog()"
      mat-button
      mat-raised-button
      color="primary"
      style="font-family: calibri; font-size: 18px"
    >
      Agregar Tarea.
    </button>
  </div>

  <div class="content" role="main">
    <div id="resp">
      <table class="table">
        <tbody>
          <tr *ngFor="let task of tsk">
            <td>
              <b>{{task.title}}</b>
              <br>{{task.detail}}
            </td>
            <div *ngIf="task.status==='PENDING'">
              <td>
                <button (click)="Complete(task.id)" class="botones-general" style="font-size:23px; background-color: #3498DB; color: white">
                  Completar
                </button>
                &nbsp;&nbsp;&nbsp;
                <button type="button" data-toggle="modal" data-target="#myModal1" class="botones-general" style="font-size:23px; background-color: #F4D03F ; color: white">
                  Editar
                </button>
                &nbsp;&nbsp;&nbsp;
                <button  (click)="delete(task.id)" class="botones-general" style="font-size:23px; background-color: #E74C3C; color: white">Eliminar</button>
              </td>
            </div>
            <div *ngIf="task.status==='COMPLETED'">
              <td> </td>
              <td>
                <h4>Tarea Competa! &nbsp;&nbsp;&nbsp;
                  <button>
                    <img src="https://cdn3.iconfinder.com/data/icons/social-messaging-ui-color-line/254000/75-512.png" alt="100" width="35" (click)="ReStart(task.id)"/>
                  </button>
                </h4>
              </td>

            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br />
  <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = $event">
  </mat-paginator>
</div>