<div class="example-container container-general ">
  <h1 style="font-family: calibri;font-size: 40px">Tareas Pendientes.</h1>
  <div class="example-header">
    <button (click)="openDialog()" mat-button mat-raised-button color="primary" style="font-family: calibri; font-size: 18px">Agregar Tarea.</button>
  </div>

  <mat-table #table [dataSource]="dataSource" class="table content">



    <ng-container matColumnDef="todo">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let todoData" style="width: 80%; padding-top: 15px; padding-bottom: 15px" id="data">
        <b style="font-size:18px">{{todoData.todo}}</b>
        <br><br> {{todoData.level}}
      </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let todoData" style="width: 30%;">
        <button mat-button mat-raised-button color="primary" (click)="actionComplete(todoData.id)" type="button" *ngIf = todoData.isDone>Completar</button>&nbsp;&nbsp;&nbsp;
        <button mat-button mat-raised-button color="accent" (click)="openDialog(todoData.id)" type="button" *ngIf = todoData.isDone>Editar</button>&nbsp;&nbsp;&nbsp;
        <button mat-button mat-raised-button color="warn" (click)="actionDelete(todoData.id)" type="button" *ngIf=todoData.isDone>Eliminar</button>
        <h4 *ngIf=!todoData.isDone>Tarea Competa! &nbsp;&nbsp;&nbsp;
          <button mat-button mat-raised-button color="warn" (click)="actionRefresh(todoData.id)" type="button" *ngIf=!todoData.isDone class="fas fa-redo"> <i (click)="actionRefresh(todoData.id)" class="fa fa-pencil-square-o"  aria-hidden="true"></i></button>
        </h4>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <br>
  <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = $event">
  </mat-paginator>

</div>