<!--TASKS-->
<div class="example-container container-general" *ngIf="!isLogin">
  <button
    (click)="logout()"
    mat-button
    mat-raised-button
    color="primary"
    style="font-family: calibri; font-size: 18px"
  >
    Log Out.
  </button>
  <h1 style="font-family: calibri;font-size: 40px">Tareas Pendientes.</h1>
  <div class="example-header">
    <button
      (click)="openDialog()"
      mat-button
      mat-raised-button
      color="primary"
      style="font-family: calibri; font-size: 18px"
    >
      Agregar Tarea.
    </button>
  </div>

  <mat-table #table [dataSource]="dataSource" class="table content">
    <ng-container matColumnDef="todo">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell
        *matCellDef="let todoData"
        style="width: 80%; padding-top: 15px; padding-bottom: 15px"
        id="data"
      >
        <b style="font-size:18px">{{ todoData.title }}</b>
        <br /><br />
        {{ todoData.detail }}
      </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let todoData" style="width: 30%;">
        <button
          mat-button
          mat-raised-button
          color="primary"
          (click)="actionComplete(todoData.task_id)"
          type="button"
          *ngIf="!isDone[todoData.task_id]"
        >
          Completar</button
        >&nbsp;&nbsp;&nbsp;
        <button
          mat-button
          mat-raised-button
          color="accent"
          (click)="openDialog(todoData.task_id)"
          type="button"
          *ngIf="!isDone[todoData.task_id]"
        >
          Editar</button
        >&nbsp;&nbsp;&nbsp;
        <button
          mat-button
          mat-raised-button
          color="warn"
          (click)="actionDelete(todoData.task_id)"
          type="button"
          *ngIf="!isDone[todoData.task_id]"
        >
          Eliminar
        </button>
        <h4 *ngIf="isDone[todoData.task_id]">
          Tarea Competa! &nbsp;&nbsp;&nbsp;
          <button
            mat-button
            mat-raised-button
            color="warn"
            (click)="actionRefresh(todoData.task_id)"
            type="button"
            *ngIf="isDone[todoData.task_id]"
            class="fas fa-redo"
          >
            <i
              (click)="actionRefresh(todoData.task_id)"
              class="fa fa-pencil-square-o"
              aria-hidden="true"
            ></i>
          </button>
        </h4>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <br />
  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = $event"
  >
  </mat-paginator>
</div>

<!--LOGIN-->
<div class="example-container container-general-login centrado" *ngIf="isLogin">
  <h1 style="font-family: calibri;font-size: 40px">
    ¡Welcome to Task Manager!
  </h1>

  <p class="centrado">
    <img
      src="https://static.vecteezy.com/system/resources/previews/002/531/083/non_2x/task-list-illustration-vector.jpg"
      style="height: 280px; width:400px"
    />
  </p>

  <br />
  <div class="example-header">
    <button
      (click)="Login()"
      mat-button
      mat-raised-button
      color="primary"
      style="font-family: calibri; font-size: 15px; align: center; width:250px; height: 50px;"
    >
      I already have account, Login!
    </button>
    <br />
    <br />
    <button
      (click)="Register()"
      mat-button
      mat-raised-button
      color="primary"
      style="font-family: calibri; font-size: 15px; align: center; width:250px; height: 50px;"
    >
      I'm new here, I want to register!
    </button>
  </div>
</div>
