p {
  font-family: Lato;
}

.content {
  width: 85%;
}
.container-general {
  width: 60%;
  padding: 40px;
  border-style: solid;
}

.content-login {
  width: 70%;
  text-align: center;
}
.container-general-login {
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}

.centrado-login {
  text-align: center;
}
